@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: #7280a7;
  background-color: #e0e8ff;
  background-image: url("./images/pattern-background-mobile.svg");
  background-repeat: repeat-x;
  background-position-x: center;
  background-position-y: top;
  background-size: contain;
}
@media (min-width: 450px) {
  body {
    background-image: url("./images/pattern-background-desktop.svg");
    background-size: auto;
  }
}
p {
  font-size: 16px;
}
h1 {
  color: #1f2f56;
  font-weight: 900;
}
.card {
  box-shadow: 0 10px 20px -1px rgba(56,41,224,0.15);
  border: none;
  border-radius: 1.5rem;
  background-color: #fff;
  max-width: 450px;
  margin: 0 1.5rem;
}
.card > header > img {
  width: 100%;
  object-fit: cover;
  border-width: 1px;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.card > main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem;
}
@media (min-width: 450px) {
  .card > main {
    margin: 0 3rem;
  }
}
.card > main > h1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 27px;
}
.card > main > p {
  text-align: center;
}
.card > footer {
  margin: 0 2rem 2.5rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 450px) {
  .card > footer {
    margin: 0 3rem 3rem;
  }
}
.plan-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #f5f7ff;
  padding: 1.5rem 0;
  margin-bottom: 2.5rem;
  margin-top: 2.75rem;
  border-width: 1px;
  border-radius: 0.8rem;
}
.plan-info > div {
  align-items: center;
}
.plan-info > div:first-of-type {
  display: flex;
  margin-left: 1rem;
}
@media (min-width: 450px) {
  .plan-info > div:first-of-type {
    margin-left: 1.5rem;
  }
}
.plan-info > a {
  font-size: 14px;
  text-decoration: underline;
  transition: color, opacity 250ms;
}
.plan-info > a:hover {
  opacity: 0.7;
  text-decoration: none;
}
.plan-info > a:focus {
  opacity: 0.7;
  text-decoration: none;
  outline: none;
}
.plan-details {
  display: flex;
  flex-direction: column;
  margin-left: 0.75rem;
}
@media (min-width: 450px) {
  .plan-details {
    margin-left: 1.25rem;
  }
}
.plan-details > h2 {
  font-size: 16px;
  color: #1f2f56;
  font-weight: 900;
}
.change-plan {
  margin-right: 1rem;
  color: #3829e0;
  font-weight: 700;
}
@media (min-width: 450px) {
  .change-plan {
    margin-right: 1.5rem;
  }
}
.proceed-button {
  font-size: 16px;
  background-color: #3829e0;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 0.8rem;
  padding-top: 1em;
  padding-bottom: 1em;
  cursor: pointer;
  box-shadow: 0 20px 16px -1px rgba(56,41,224,0.2);
  transition: opacity 250ms;
}
.proceed-button:hover {
  opacity: 0.7;
}
.proceed-button:focus {
  opacity: 0.7;
  border: none;
  outline: none;
}
.cancel-order-button {
  color: #7280a7;
  font-weight: 900;
  text-align: center;
  margin-top: 2rem;
  cursor: pointer;
  border: none;
  background: none;
  transition: color 250ms;
}
.cancel-order-button:hover {
  color: #1f2f56;
}
